body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* CRVENA */
header {
    background: #FF0000;
    color: white;
    padding: 30px;
    text-align: center;
}

/* BIJELA */
.content {
    padding: 40px;
    text-align: center;
    border-top: 6px solid white;
    border-bottom: 6px solid #0057B7;
}

/* PLAVA */
footer {
    background: #0057B7;
    color: white;
    text-align: center;
    padding: 15px;
}
